<nav class="navbar navbar-light" style="background-color: #6db0ee;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">BiciRed</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="bikes">Bicicletas</a></li>
        <li routerLinkActive="active"><a routerLink="reservations">Alquiler</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
<div class="container text-center">
  <small>Creadores &copy; Laura Garzón - TechCamp A1</small>
</div>
</footer>

