<a >
  <button type="button" class="btn btn-info" (click)="goBack()"><i class="bi-arrow-left"></i> Volver</button>
</a>
<div class="col-md-6">
  <div>
    <h2>Información de la Bicicleta</h2>
    <div>
      <label><strong>Id:</strong></label> {{ bike.id }}
    </div>
    <div>
      <label><strong>Marca:</strong></label> {{ bike.marca }}
    </div>
    <div>
      <label><strong>Tipo:</strong></label> {{ bike.tipo }}
    </div>
    <div>
      <label><strong>Color:</strong></label> {{ bike.color }}
    </div>
    <div>
      <label><strong>Estado:</strong></label> {{ bike.estado }}
    </div>
    <h3>Ubicación</h3>
    <div>
      <label><strong>Latitud:</strong></label> {{ bike.latitude }}
    </div>
    <div>
      <label><strong>Longitud:</strong></label> {{ bike.longitude }}
    </div>



  </div>
